include _global_mixins
include _project_mixins
include _project_vars
-var array = '';
block vars
doctype
html(lang="ru")
	head
		+head(array)
		+scripts
	body(class=array.body_class)
		//- section.section.section--super
			//- +header
		block content_block
		//- +footer
		block local_popup
