block project_vars	
    -
        var comments = [
            {
                name: 'Александр',
                userpic: '',
                status: 'Опытный',
                country: 'Украина',
                flag: '/i/flags/ua.png',
                date: '23.02.2019 в 15:06',
                messageCount: '235 сообщений',
                store: 'Музыкальный магазин “Super Sound”, Москва, ул. Острякова',
                link: '',
                rate: '5',
                advantages: 'Предназначен для опытных инвесторов они смогут совершать сделки на бирже и видеть всю информацию о торгах сразу на нескольких экранах, в любом браузере и на любом количестве устройств. Предназначен для опытных инвесторов.',
                disadvantages: 'Предназначен дл я опытных инвесторов.',
                likes: 23,
                dislikes: 10,
            },
            {
                name: 'Вера',
                userpic: '/i/users/vera.png',
                status: 'Заблокирован',
                country: 'Украина',
                flag: '/i/flags/ua.png',
                date: '23.02.2019 в 15:06',
                messageCount: '235 сообщений',
                store: 'Музыкальный магазин “Super Sound”, Москва, ул. Острякова',
                link: '',
                rate: '5',
                advantages: 'Предназначен для опытных инвесторов они смогут совершать сделки на бирже и видеть всю информацию о торгах сразу на нескольких экранах, в любом браузере и на любом количестве устройств. Предназначен для опытных инвесторов.',
                disadvantages: 'Предназначен дл я опытных инвесторов.',
                likes: 23,
                dislikes: 10,
            },
            {
                name: 'Александр',
                userpic: '',
                status: 'Опытный',
                country: 'Украина',
                flag: '/i/flags/ua.png',
                date: '23.02.2019 в 15:06',
                messageCount: '235 сообщений',
                store: 'Музыкальный магазин “Super Sound”, Москва, ул. Острякова',
                link: '',
                rate: '4.8',
                advantages: 'Предназначен для опытных инвесторов они смогут совершать сделки на бирже и видеть всю информацию о торгах сразу на нескольких экранах, в любом браузере и на любом количестве устройств. Предназначен для опытных инвесторов.',
                disadvantages: 'Предназначен дл я опытных инвесторов.',
                likes: 23,
                dislikes: 10,
            },
            {
                name: 'Саманта',
                userpic: '/i/users/samanta.png',
                status: 'Опытный',
                country: 'Украина',
                flag: '/i/flags/ua.png',
                date: '23.02.2019 в 15:06',
                messageCount: '235 сообщений',
                store: 'Музыкальный магазин “Super Sound”, Москва, ул. Острякова',
                link: '',
                rate: '4.8',
                advantages: 'Предназначен для опытных инвесторов они смогут совершать сделки на бирже и видеть всю информацию о торгах',
                likes: 23,
                dislikes: 10,
            },
            {
                name: 'Анна',
                userpic: '/i/users/anna.png',
                status: 'Опытный',
                country: 'Украина',
                flag: '/i/flags/ua.png',
                date: '23.02.2019 в 15:06',
                messageCount: '235 сообщений',
                store: 'Музыкальный магазин “Super Sound”, Москва, ул. Острякова',
                link: '',
                rate: '4.8',
                advantages: 'Предназначен для опытных инвесторов они смогут совершать сделки на бирже и видеть всю информацию о торгах сразу на нескольких экранах, в любом браузере и на любом количестве устройств.',
                disadvantages: 'Предназначен дл я опытных инвесторов.',
                likes: 23,
                dislikes: 10,
            },
            {
                name: 'Александр',
                userpic: '',
                status: 'Опытный',
                country: 'Украина',
                flag: '/i/flags/ua.png',
                date: '23.02.2019 в 15:06',
                messageCount: '235 сообщений',
                store: 'Музыкальный магазин “Super Sound”, Москва, ул. Острякова',
                link: '',
                rate: '4.8',
                advantages: 'Предназначен для опытных инвесторов они смогут совершать сделки на бирже и видеть всю информацию о торгах сразу на нескольких экранах, в любом браузере и на любом количестве устройств. Предназначен для опытных инвесторов.',
                disadvantages: 'Предназначен дл я опытных инвесторов.',
                likes: 23,
                dislikes: 10,
            },
            {
                name: 'Анатолий',
                userpic: '/i/users/anatoliy.png',
                status: 'Опытный',
                country: 'Украина',
                flag: '/i/flags/ua.png',
                date: '23.02.2019 в 15:06',
                messageCount: '235 сообщений',
                store: 'Музыкальный магазин “Super Sound”, Москва, ул. Острякова',
                link: '',
                rate: '4.8',
                advantages: 'Предназначен для опытных инвесторов они смогут совершать сделки на бирже и видеть всю информацию о торгах сразу на нескольких экранах, в любом браузере и на любом количестве устройств. Предназначен для опытных инвесторов.',
                disadvantages: 'Предназначен дл я опытных инвесторов.',
                likes: 23,
                dislikes: 10,
            },
            {
                name: 'Александр',
                userpic: '',
                status: 'Опытный',
                country: 'Украина',
                flag: '/i/flags/ua.png',
                date: '23.02.2019 в 15:06',
                messageCount: '235 сообщений',
                store: 'Музыкальный магазин “Super Sound”, Москва, ул. Острякова',
                link: '',
                rate: '4.8',
                advantages: 'Предназначен для опытных инвесторов они смогут совершать сделки на бирже и видеть всю информацию о торгах сразу на нескольких экранах, в любом браузере и на любом количестве устройств. Предназначен для опытных инвесторов.',
                disadvantages: 'Предназначен дл я опытных инвесторов.',
                likes: 23,
                dislikes: 10,
            },
            {
                name: 'Александр',
                userpic: '',
                status: 'Опытный',
                country: 'Украина',
                flag: '/i/flags/ua.png',
                date: '23.02.2019 в 15:06',
                messageCount: '235 сообщений',
                store: 'Музыкальный магазин “Super Sound”, Москва, ул. Острякова',
                link: '',
                rate: '4.8',
                advantages: 'Предназначен для опытных инвесторов они смогут совершать сделки на бирже и видеть всю информацию о торгах сразу на нескольких экранах, в любом браузере и на любом количестве устройств. Предназначен для опытных инвесторов.',
                disadvantages: 'Предназначен дл я опытных инвесторов.',
                likes: 23,
                dislikes: 10,
            }
        ]
