@mixin icon-styles-1 {
    font-family: "IconsMain";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
}

%icon1 {
    @include icon-styles-1;
}

%icon-dislike {
        content: "\EA01";
        @extend %icon1;
    }
    %icon-ellipsis  {
        content: "\EA02";
        @extend %icon1;
    }
    %icon-like {
        content: "\EA03";
        @extend %icon1;
    }
    %icon-minus {
        content: "\EA04";
        @extend %icon1;
    }
    %icon-no-pic {
        content: "\EA05";
        @extend %icon1;
    }
    %icon-plus {
        content: "\EA06";
        @extend %icon1;
    }
    %icon-star {
        content: "\EA07";
        @extend %icon1;
    }
    [class^="icon-"] {
    &:before {}
}

.icon {
    font-style: normal;
    &--dislike {
            &:before {
                @extend %icon-dislike;
            }
        }
        &--ellipsis  {
            &:before {
                @extend %icon-ellipsis ;
            }
        }
        &--like {
            &:before {
                @extend %icon-like;
            }
        }
        &--minus {
            &:before {
                @extend %icon-minus;
            }
        }
        &--no-pic {
            &:before {
                @extend %icon-no-pic;
            }
        }
        &--plus {
            &:before {
                @extend %icon-plus;
            }
        }
        &--star {
            &:before {
                @extend %icon-star;
            }
        }
        
}