body,
html {
    margin: 0;
    padding: 0;
}

html * {
    max-height: rem(1000000);
}

body {
    background: #e5e5e5;
    font-family: $mainFF;
    font-size: rem(14);
    line-height: rem(24);
    color: $mainTextColor;
}