/**/

$icomoon-font-family: "IconsMain" !default;
$icomoon-font-path: "../fonts/icon" !default;

/**/

$mainFF: "Montserrat",
sans-serif;

/**/

$mainTextColor: #42464b;
$mainTitleColor: #0f1011;
$mainLinkColor: #1373e5;
$colorPositive: #10b97b;
$colorNegative: #e3405e;
$lightTextColor: #87919c;
$starsColor: #fabd48;
$blocksBG: #ffffff;
$userpicBG: #ced7e0;

/**/

$tablet: 640px;
$desktop: 960px;