/**/

$icomoon-font-family: "IconsMain" !default;
$icomoon-font-path: "../fonts/icon" !default;

/**/

$mainFF: "Montserrat",
sans-serif;

/**/

$mainTextColor: #42464b;
$mainTitleColor: #0f1011;
$mainLinkColor: #1373e5;
$colorPositive: #10b97b;
$colorNegative: #e3405e;

/**/

$tablet: 768px;
$desktop: 1200px;