.likes {
    display: flex;
    &__item {
        font-weight: 600;
        font-size: rem(14);
        line-height: rem(22);
        display: flex;
        align-items: center;
        color: $lightTextColor;
        transition: 0.2 all;
        cursor: pointer;
        &:before {
            margin-right: rem(6);
            font-size: rem(20);
            @media only screen and (min-width: $tablet) {
                margin-right: rem(10);
            }
        }
        &--like {
            &:before {
                @extend %icon-like;
            }
            &.active,
            &:hover {
                &:before {
                    color: $colorPositive;
                }
            }
        }
        &--dislike {
            &:before {
                @extend %icon-dislike;
            }
            &.active,
            &:hover {
                &:before {
                    color: $colorNegative;
                }
            }
        }
        &+& {
            margin-left: rem(19);
            @media only screen and (min-width: $tablet) {
                margin-left: rem(22);
            }
        }
    }
}