.rating {
    background: #fff;
    padding: rem(18) rem(16) rem(31);
    box-sizing: border-box;
    @media only screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: rem(26) rem(34) rem(26);
        box-shadow: rem(0) rem(6) rem(29) rgba(15, 16, 17, 0.05);
        border-radius: rem(5);
    }
    @media only screen and (min-width: $desktop) {
        order: 1;
        width: (370 / 1170 * 100%);
        margin-top: rem(119);
        padding: rem(26) rem(40) rem(24);
    }
    &__title {
        font-weight: 500;
        font-size: rem(16);
        line-height: rem(24);
        color: $mainTitleColor;
        @media only screen and (min-width: $tablet) {
            width: 100%;
            font-size: rem(20);
            line-height: rem(32);
        }
        @media only screen and (min-width: $desktop) {
            text-align: center;
        }
    }
    &__total-rate {
        @media only screen and (min-width: $tablet) {
            order: 10;
            margin-top: rem(20);
            width: calc(50% - #{rem(52)});
        }
        @media only screen and (min-width: $desktop) {
            order: 0;
            width: 100%;
            margin-top: rem(15);
        }
    }
    &__rate {
        font-weight: 500;
        line-height: rem(52);
        font-size: rem(20);
        margin-top: rem(15);
        text-align: center;
        color: $mainTitleColor;
        span {
            font-size: rem(40);
            margin-right: rem(5);
            @media only screen and (min-width: $tablet) {
                font-size: rem(50);
            }
        }
    }
    &__stars {
        display: flex;
        justify-content: center;
        @media only screen and (min-width: $tablet) {
            margin-top: rem(7);
        }
    }
    &__star {
        position: relative;
        font-size: rem(24);
        margin: 0 rem(4);
        color: #ced7e0;
        @media only screen and (min-width: $tablet) {
            font-size: rem(26);
            margin: 0 rem(5);
        }
        &:before {
            display: block;
            @extend %icon-star;
        }
        & & {
            margin-left: 0;
            margin-right: 0;
        }
        &--light {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            color: #fabd48;
            overflow: hidden;
        }
    }
    &__comments {
        font-size: rem(13);
        line-height: rem(21);
        margin-top: rem(13);
        color: #87919c;
        text-align: center;
        @media only screen and (min-width: $tablet) {
            line-height: rem(22);
            margin-top: rem(21);
        }
    }
    &__bars {
        margin-top: rem(20);
        @media only screen and (min-width: $tablet) {
            width: calc(50% - #{rem(23)});
            margin-top: rem(21);
        }
        @media only screen and (min-width: $desktop) {
            width: 100%;
            margin-top: rem(33);
            margin-right: rem(2);
        }
    }
    &__bar-item {
        margin-bottom: rem(1);
        @media only screen and (min-width: $tablet) {
            margin-bottom: rem(11);
        }
    }
    &__bar-title {
        font-size: rem(14);
        line-height: rem(22);
        margin-bottom: rem(-2);
        color: $mainTitleColor;
    }
    &__bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__bar-line {
        flex-grow: 1;
        background: #eaf1f9;
        border-radius: rem(500);
        height: rem(6);
        margin-top: rem(-2);
    }
    &__bar-filled {
        height: rem(6);
        border-radius: rem(500);
        &--high {
            background: $colorPositive;
        }
        &--middle {
            background: #fabd48;
        }
        &--low {
            background: $colorNegative;
        }
    }
    &__bar-value {
        font-weight: 500;
        font-size: rem(16);
        line-height: rem(24);
        color: $mainTitleColor;
        width: rem(31);
        margin-left: rem(11);
    }
}

.rating-short {
    font-weight: 600;
    font-size: rem(14);
    line-height: rem(22);
    color: $mainTitleColor;
    display: flex;
    align-items: center;
    &:before {
        color: #fabd48;
        margin-right: rem(6);
        font-size: rem(16);
        @extend %icon-star;
        @media only screen and (min-width: $tablet) {
            margin-top: rem(-2);
        }
    }
    @media only screen and (min-width: $tablet) {
        font-size: rem(15);
        line-height: rem(28);
    }
}