extends templates/_layout

include templates/_global_mixins
include templates/_project_mixins
include templates/_project_vars
block vars
	-var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'Отзывы'}
block content_block	
	.container
		//- rating
		.rating
			.rating__title Общий рейтинг компании
			.rating__rate
				span 4.8
				| / 5
			.rating__total-rate
				.rating__stars
					.rating__star
						.rating__star.rating__star--light
					.rating__star
						.rating__star.rating__star--light
					.rating__star
						.rating__star.rating__star--light
					.rating__star
						.rating__star.rating__star--light(style="width: 50%")
					.rating__star
				.rating__comments 6 отзывов
			.rating__bars
				//- .rating__bar-item
				.rating__bar-item
					.rating__bar-title Скорость работы
					.rating__bar
						.rating__bar-line
							.rating__bar-filled.rating__bar-filled--high(style="width: 96%")
						.rating__bar-value 4.8
				//- end .rating__bar-item
				//- .rating__bar-item
				.rating__bar-item
					.rating__bar-title Качество обслуживания
					.rating__bar
						.rating__bar-line
							.rating__bar-filled.rating__bar-filled--middle(style="width: 62%")
						.rating__bar-value 3.1
				//- end .rating__bar-item
				//- .rating__bar-item
				.rating__bar-item
					.rating__bar-title Ценовая политика
					.rating__bar
						.rating__bar-line
							.rating__bar-filled.rating__bar-filled--low(style="width: 32%")
						.rating__bar-value 1.6
				//- end .rating__bar-item

		//- end rating
