<!DOCTYPE html><html lang="en"><head><!-- you may want to add a link to your compiled `css` file for a nicer display--><link rel="stylesheet" media="all" href="../../../css/granatum_style.css"></head><body><style>[class^="icon-"]:before { font-size: 24px; display: block}
ul {
  -webkit-column-count:4;
  -moz-column-count:4;
  column-count:4;
}
ul li { padding-top: 5px; padding-bottom: 5px; border-bottom: 1px solid #000;}</style><ul><li><i class="icon--burger">.icon--burger<br>%burger</i></li><li><i class="icon--check">.icon--check<br>%check</i></li><li><i class="icon--close-small">.icon--close-small<br>%close-small</i></li><li><i class="icon--close">.icon--close<br>%close</i></li><li><i class="icon--dropdown">.icon--dropdown<br>%dropdown</i></li><li><i class="icon--image">.icon--image<br>%image</i></li><li><i class="icon--question">.icon--question<br>%question</i></li><li><i class="icon--minus">.icon--minus<br>%minus</i></li><li><i class="icon--plus">.icon--plus<br>%plus</i></li></ul></body></html>